*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #f5f5f5;
}

nav{
    background-color: #36344d;
    
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
}
i{
    color: white;
    size: 50px;
    user-select: none;
}
ol{
    display: flex;
    list-style: none;
}